@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar.sticky-costum{
        background: rgba(37, 42, 66, 1);
        position: sticky;
    }
    /* .head untuk mancing navbar */
    .head{
    width: auto ;
    height:100%;
    background-image: url(/public/asset/Group\ 1.png);
    background-repeat: no-repeat;
    z-index: 40;
    }
    .head2{
        height: 900px;
        background-image: url(https://i.pinimg.com/564x/01/d6/fb/01d6fb0ccf850166d08bed962c3be0bc.jpg);
        z-index: 10;
    }
}