
@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
    body{
        overflow-x: hidden;
    }

    .test{
        background-color: #F39C12;
        height: 1500px ;
        width: 115px ;
    }

    .navbar{
        position: fixed;
        width: 100%;
        z-index: 50;
        padding: 30px 0;
        padding-left: 1px;
        transition: all 0.3s ease;
    }
    .navbar.sticky-costum{
        background: #F39C12;
        padding: 15px 0;
        padding-left: 1px;
        transition: all 0.3s ease;

    }
    .navbar.sticky-costum-2{
        background: #F39C12;
        padding: 30px 0;
        padding-left: 1px;
        transition: all 0.3s ease;
    }

    .hero{
        padding-top: 15%;
        padding-left: 10%;
        padding-bottom: 105%;
    }
   
}