@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 50;
    padding: 30px 0;
    padding-left: 1px;
    transition: all 0.3s ease;
  }
  .navbar.sticky-costum {
    background: #f39c12;
    padding: 15px 0;
    padding-left: 1px;
    transition: all 0.3s ease;
  }
  .navbar.sticky-costum-2 {
    background: #f39c12;
    padding: 30px 0;
    padding-left: 1px;
    transition: all 0.3s ease;
  }
}
